<div class="header-container">
    <div class="header-top"> Free Shipping for all Product </div>
    <div class="header-middle">
        <p class="signup-button" >Sign up</p>
        <a href=""><img class="profile" src="./assets/img/profile.png" alt="" width="40px" height="40px" margin-buttom="10px"></a>
      <div><img src="" alt=""></div>
      <div class="logo">Travel Bag</div>
      
      <div class="wishlist"><a href=""><img class="profile" src="./assets/img/wish.png" alt=""></a></div>
      <div class="cart"><a href=""><img class="profile" src="./assets/img/cart.png" alt=""></a></div>
    </div>
    <div class="header-bottom">
      <div class="nav-links">
        <a href="">Home</a>
        <a href="">Shop</a>
        <a href="">New Arrivals</a>
        <a href="">Blog</a>
        <a href="">Contact</a>
      </div>
      <div class="icon-container">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-circle">
          <div class="icon-line"></div>
          <div class="icon-line"></div>
          <div class="icon-rectangle"></div>
        </div>
      </div>
      <div class="bottom-shape"></div>
      <div class="circle"></div>
    </div>
  </div>
  