<div class="carousel-container">
    <div class="carousel-track" [style.transform]="'translateX(' + slidePosition + '%)'">
      <div *ngFor="let image of images" class="carousel-slide">
        <img [src]="image" alt="Image">
      </div>
    </div>
    <button (click)="prevSlide()" class="carousel-button prev-button">&lt;</button>
    <button (click)="nextSlide()" class="carousel-button next-button">&gt;</button>
  </div>

  <div class="new-arrivals">
    <h2 class="headline">New Arrivals</h2>
    <div class="product-list">
      <div *ngFor="let product of newarrivals" class="product">
        <img [src]="product.imageUrl" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <span><b>{{ product.price | currency }}</b></span><br>
        <button class="Add">Add To Cart</button>
      </div>
    </div>
  </div>
    